{% extends 'members/home.html' %}
{% load settings_value %}
{% load static  %}

{% block top_nav %}
<nav class='row' id='home-nav'>
  <div class="nav-wrapper">
		<div id='logo'>
      <a href="#"><img class='logo-img' /></a>
		</div>
{% endblock %}

{% block lower_nav %}
<div id='jumbotron'>
	<img id='jumbo-img' />
</div>
{% endblock %}

{% block footer-class %}
	<footer class="home-footer">
{% endblock %}

{% block extrajs %}
<script>
  $(document).ready(function(){

    $(document).on('scroll', function() {
      var scrollY = $(window).scrollTop();
      var distanceY = window.pageYOffset ||document.documentElement.scrollTop;
      var shrinkOn = 150;

      if (shrinkOn < scrollY) {
        $('.logo-img').addClass('smaller');
      } else {
        if($('.logo-img').hasClass('smaller')) {
          $('.logo-img').removeClass('smaller');
        }
      }
    });
  });
</script>
{% endblock %}
